body {
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    min-height: 100vf;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    padding-bottom: 12px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.header .links {
    display: flex;
    font-size: 18px;
    gap: 20px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

.hero-secondary {
    color: #e5e7eb;
}

.hero img {
    width: 600px;
    max-height: 225px;
    padding: 42px;
    padding-right: 0;
    flex: 1;
    object-fit: cover;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    border: 0px solid;
    padding: 4px 16px;
}


.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    padding-top: 20px;
}

.images {
    display: flex;
    gap: 60px;
}

.images img {
    height: 150px;
    width: 150px;
    border: #3882f6 solid;
    object-fit: contain;
    border-radius: 8px;
}


.pic1,
.pic2,
.pic3,
.pic4 {
    display: flex;
    flex-direction: column;
}

.images p {
    width: 150px;
}

.container-quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    padding: 50px 0px; /* top/bottom, sides*/
    gap: 24px;
}

.quote .bottom {
    align-self: flex-end;
}

.quote .top {
    align-self: center;
    flex-wrap: wrap;
    text-align: justify;
}

.signup {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.box {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    padding: 60px;
    border-radius: 8px;
    gap: 80px;
}

.box .container {
    display: flex;
    flex-direction: column;
}

.container .title {
    font-size: 24px;
}

.container .text {
    font-size: 16px;
}

.box button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 4px;
    color: #f9faf8;
    border: #f9faf8 solid;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 24px;
    display: flex;
    justify-content: center;
}
